@media (min-width: 600px) {
 nav li { display: inline-block;
 width: 7em;
 padding: 0.5em;
 border: none; }
 nav ul { text-align: center; }
 main { float: left;
 width: 55%; }
 aside { margin-left: 55%; }
 footer { clear: both; }
 }
