.dotted-headline {
  font-size: 2em;
  color: red;
  border-bottom: 2px dotted red; 
}

#positioned-div {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: lightgray; 
  border: 2px solid black; 
}

.relative-div {
  position: relative;
  left: 15px; 
  background-color: lightgreen; 
}

ul {
  list-style-image: url('yls.jpg'); 
}
