body {
  font-family: Arial;
  background-color: black;
  color: white;
}

.favorite {
  font-style: italic; 
  color: red; 
}

a {
  color: #CCCCCC; 
  text-decoration: none; 
}

h1 {
  font-family: "Times New Roman";
  color: #CCCCCC;
}
